<section class="data-section"
         *mobxAutorun="{ dontDetach: true }">
  <perfect-scrollbar>
    <!-- <div class="dessin-benjamin"
         [style.background-image]="'url(assets/planElec.png)'"></div> -->
    <section class="scroll-content"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             fxLayoutGap="16px">
      <!-- TODO: 2a. passer les données des tables au component data-table.component -->
      <data-table *ngFor="let table of tables"></data-table>
    </section>
  </perfect-scrollbar>
</section>